* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.App {
  text-align: center;
  color: #dddddd;
  background: #233C62;
}

.svg-inline--fa.fa-w-16 {
  height: 1em;
  margin: 0 7px;
}

input:active{
  background-color: rgb(218, 228, 220) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
 {
  -webkit-box-shadow: 0 0 0 30px rgb(218, 228, 220)
  inset !important;
 }