.landing-page{
  color: white;
  height: 100vh;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #37445a;
  mix-blend-mode: overlay;
  z-index: -1;
}

.landing-header {
  color: inherit;
  height: 90px;
  background: none;
  display: flex;
  align-items: center;


}

.landing-logo {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 50px;
  font-size: 20px !important;
  letter-spacing: 2px;

}

.landing-logo * {
  margin-right: 20px ;
}

.content {
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 45%;
  margin: 130px 50px;
  text-align: left;
}

.content h2, .content h3, .content button {
  margin-top: 30px;
}

.content h2{
  font-size: 60px;
}

.content button {
  width: 200px;
  height: 50px;
}

.content a {
  text-decoration: none;
  color: inherit;
}

