.itinerary-form {
  width: 95%;    
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  padding: 20px;
  /* background: rgb(126,196,135);
  background: linear-gradient(90deg, rgba(126,196,135,1) 0%, rgba(94,163,105,1) 100%);  border-radius: 2rem; */
  
  
  margin: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  background: rgb(218,228,220);
background: linear-gradient(90deg, rgba(218,228,220,1) 0%, rgba(185,193,186,1) 100%);
  border-radius: 10px;
}

.itinerary-form input {
  height: 30px;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  outline: none;
  margin: 5px;
  width: 90%;
  background: rgb(218, 228, 220);
  color: black;
  border: 1px solid #949292;
  box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.itinerary-form input::placeholder{
  color: rgb(86, 84, 84);
}

.itinerary-form button {
  border-radius: 20px;
  outline: none;
  border: none;
  height: 30px;
  width: 90%;
  margin: 5px;
}