.resource-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.resources-container h1 {
  margin-top: 40px;
  font-size: 50px;
}

.resource-card {
  width: 300px;
  height: 375px;
  background: rgb(100,117,165);
  background: linear-gradient(90deg, rgba(100,117,165,1) 0%, rgba(76,88,124,1) 100%);
  margin: 50px;
  font-size: 14px;
  text-align: left;
  position: relative;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.resource-card:hover{
  transform: scale(1.03);
}

.resource-card-img {
  width: 300px;
  height: 200px;
  background: rgb(242, 241, 241);
/* border-bottom: 1px solid grey; */
}

.resource-card-name,
.resource-card-description {
  padding: 5px 10px;
  /* line-height: 1.6; */
}

.resource-card-name span{
  font-weight: 600;
  text-decoration: underline;
}



.resource-card-button {
  height: 40px;
  width: 80px;
  position: absolute;
  bottom: 10px;
  margin-left: 10px;
  
}


.resource-card-button a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}