footer {
  display: flex;
  justify-content: center;
  align-items: center; 
  background: rgb(232,238,242);
  background: linear-gradient(90deg, rgba(232,238,242,1) 0%, rgba(217,221,224,1) 100%);

}

footer * {
  display: flex;
  align-items: center;
  /* margin: 0 20px; */
}

.copyright *{
  /* margin: 0 2px; */
}

.socials {
  /* margin: 0 2px; */
  cursor: pointer;
  height: fit-content;
  overflow-y: hidden;
}

.socials a {
  text-decoration: none;
  color: inherit;
}