header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: grey;
}

header a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  color: black;
}

.logo * {
  margin-right: 20px ;
}

.logo-icon {
  width: 40px !important;
}


