.layout {
  display: grid;
  grid-template-areas: 
  "nav"
  "main"
  "footer";
  grid-template-rows: 70px 1fr 30px;
  grid-template-columns: 1fr;
  height: 100vh;
}

.layout-nav {
  grid-area: nav;
}

.layout-children {
  grid-area: main;
}

.layout-footer {
  grid-area: footer;
}