.layout {
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: 90px 1fr 30px;
  grid-template-columns: 1fr;
  height: 100vh;
  }

.layout-header {
  grid-area: header;
  background: rgb(57,87,133);
  background: linear-gradient(90deg, rgba(57,87,133,1) 0%, rgba(35,60,98,1) 100%);
}

.layout-children {
  grid-area: main;
  background: rgb(57,87,133);
  background: linear-gradient(90deg, rgba(57,87,133,1) 0%, rgba(35,60,98,1) 100%);

}

.layout-footer {
grid-area: footer;
background: rgb(57,87,133);
background: linear-gradient(90deg, rgba(57,87,133,1) 0%, rgba(35,60,98,1) 100%);

}