.trip-edit-form {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(187%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #83AAC7;
  width: 450px;
  min-height: 500px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.trip-edit-form input {
  width: 90%;
  height: 50px;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
}

.trip-edit-form input * {
font-size: 35px;
}

.trip-edit-form button {
  height: 40px;
  width: 150px;
  margin: 5px 0;
  background-color: #77B6EA;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 8px rgba(0,0,0,0.2);
  color: inherit;
  position: initial ;
}

.trip-edit-form h3 {
  font-size: 36px;
}