.trips-container h2 {
  font-size: 60px;
  margin: 30px 0;
}



.trips {
  /* background-color: beige; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
flex-wrap: wrap;
position: relative;
}

.trips-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip-card {
  height: 500px;
  width: 375px;
  background-color: #C7D3DD;
  margin: 30px 50px;
  border-radius: 20px;
  border: 1px solid #C7D3DD;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.trip-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trip-img {
  height: 375px;
  width: 375px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #C7D3DD;
}

.trip-card-text{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 10px;
}

.details-buttons {
  /* height: 30px; */
  /* background: red; */
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-buttons button {
  height: 40px;
  width: 70px;
  margin: 5px 0;
  background-color: #77B6EA;
}

.delete-button {
  height: 40px;
  width: 70px;
}

.add-icon {
width: 35px !important;
margin: 0 20px;
}
